<div class="content">
    <form action="add-workshop/insert" method="post">
     

      <input
        type="text"
        name="workshopname"
        class="form-control col-4"
        placeholder="Entert WorkShop Name"
      /><br />

      <input type="submit" class="btn btn-primary" />
    </form>
  </div>